<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="!isARMode" class="video-container">
    <video id="video" autoplay playsinline [class.black-and-white]="isBlackAndWhite" style="display: none;"></video>
    <canvas id="canvas"></canvas>
    <!-- Placeholder for when camera is not active -->
    <div *ngIf="!stream" class="camera-placeholder">
      <img src="https://iili.io/FnpuvIf.png" alt="Camera Icon" class="placeholder-icon" />
      <p class="placeholder-text">Clique em iniciar vídeo para abrir a câmera</p>
    </div>
  </div>
  <div class="button-container" *ngIf="!isARMode">
    <ion-button (click)="startCamera()">Iniciar Câmera</ion-button>
    <ion-button (click)="stopCamera()">Parar Câmera</ion-button>
    <ion-button (click)="toggleCamera()">Trocar para {{ facingMode === 'user' ? 'Câmera Traseira' : 'Selfie'
      }}</ion-button>
    <ion-button (click)="toggleBlackAndWhite()">Filtro {{ isBlackAndWhite ? 'Colorido' : 'Preto e Branco'
      }}</ion-button>
    <ion-button color="warning" (click)="takePhoto()">Tirar foto</ion-button>
    <ion-item>
      <ion-label>Qualidade do Vídeo</ion-label>
      <ion-select [(ngModel)]="videoQuality" (ionChange)="changeQuality()">
        <ion-select-option value="low">Baixa (480p)</ion-select-option>
        <ion-select-option value="medium">Média (720p)</ion-select-option>
        <ion-select-option value="high">Alta (1080p)</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="tertiary" class="settings-button" (click)="openSettings()">Configurações</ion-button>
  </div>
  <ion-button class="iniciarar" (click)="Iniciarar()">Iniciar AR</ion-button>
</ion-content>

<ion-modal id="gallery-modal" [isOpen]="isGalleryOpen" (didDismiss)="closeGallery()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Galeria</ion-title>
        <ion-buttons slot="end">
          <ion-button class="modal-close-button" (click)="closeGallery()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item *ngFor="let photo of photos; let i = index">
          <ion-thumbnail slot="start">
            <img [src]="photo.url" (click)="openPreview(i)" style="cursor: pointer;" />
          </ion-thumbnail>
          <ion-button (click)="savePhoto(i)">Salvar imagem</ion-button>
          <ion-button (click)="copyPhoto(i)">Copiar imagem</ion-button>
          <ion-button color="danger" (click)="deletePhoto(i)">Deletar Imagem</ion-button>
          <span class="photo-timestamp">{{ formatTimestamp(photo.timestamp) }}</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal id="preview-modal" [isOpen]="isPreviewOpen" (didDismiss)="closePreview()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Visualizar Imagem</ion-title>
        <ion-buttons slot="end">
          <ion-button class="modal-close-button" (click)="closePreview()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <img [src]="selectedPhoto" style="max-width: 100%; max-height: 100%; object-fit: contain;" />
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal id="settings-modal" [isOpen]="isSettingsOpen" (didDismiss)="closeSettings()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Configurações da Câmera</ion-title>
        <ion-buttons slot="end">
          <ion-button class="modal-close-button" (click)="closeSettings()">Fechar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item>
          <ion-label>Inverter Horizontalmente</ion-label>
          <ion-checkbox [(ngModel)]="flipHorizontal" (ionChange)="toggleFlipHorizontal()"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Inverter Verticalmente</ion-label>
          <ion-checkbox [(ngModel)]="flipVertical" (ionChange)="toggleFlipVertical()"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label>Zoom</ion-label>
          <ion-range min="1" max="3" step="0.1" [(ngModel)]="zoomLevel" (ionChange)="onZoomChange($event)"
            (ionKnobMoveStart)="onRangeDragStart()" (ionKnobMoveEnd)="onRangeDragEnd()"></ion-range>
        </ion-item>
        <ion-button expand="block" color="medium" (click)="resetSettings()">Restaurar Padrões</ion-button>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<script src="assets/cannon.min.js"></script>
<script src="assets/aframe.min.js"></script>
<script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
<script src="assets/aframe-extras.min.js"></script>